input[type=text],
textarea {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px 6px;
  outline: none;
  width: 100%;
  background: #fafafa;
  font-family: inherit;
  font-size: inherit;

  &:focus {
    background: #fff;
  }
}
textarea {
  min-height: 200px;
}

select {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 12px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.error,
textarea.error,
select.error {
  border: 2px solid #faa;

  & + .error-block {
    float: right;
    font-size: 0.8rem;
    color: #faa;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #D8DDE1;

  & > .field-container:last-child {
    margin-bottom: 0;
  }
}

.field-container {
  @include clearfix;
  margin-bottom: 1rem;

  input,
  textarea,
  select {
    width: 100%;
  }
}

.danger {
  color: #c33;
  border-bottom: 2px dashed #c33;
}

@include screen-md {
  input[type=text],
  textarea,
  select {
    padding: 5px;
  }

  fieldset {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
  }

  .field-container {
    margin-bottom: 1.5rem;
  }
}
