input[type=text],
textarea {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  width: 100%;
  background: #fafafa;

  &:focus {
    background: #fff;
  }
}
textarea {
  font-family: inherit;
  font-size: inherit;
  min-height: 200px;
}

input.error,
textarea.error {
  border: 2px solid #faa;
}

.danger {
  color: #c33;
  border-bottom: 2px dashed #c33;
}
