input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px 6px;
  outline: none;
  width: 100%;
  background: #fafafa;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;

  &:focus {
    background: #fff;
  }
}
textarea {
  min-height: 200px;
}

select {
  width: 100%;
  padding: 10px 12px;

  box-shadow: none;
  background: #fff url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%23666%22%2F%3E%3C%2Fsvg%3E') right 5px center no-repeat;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  /* Hide arrow on FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;

  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
}

input.error,
textarea.error,
select.error {
  border: 2px solid #faa;

  & + .error-block {
    float: right;
    font-size: 0.8rem;
    color: #faa;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #D8DDE1;

  & > .field-container:last-child {
    margin-bottom: 0;
  }
}

.field-container {
  @include clearfix;
  margin-bottom: 1rem;

  input,
  textarea,
  select {
    width: 100%;
  }
}

.danger {
  color: #c33;
  border-bottom: 2px dashed #c33;
}

@include screen-md {
  input[type=email],
  input[type=password],
  textarea,
  select {
    padding: 5px;
  }

  fieldset {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
  }

  .field-container {
    margin-bottom: 1.5rem;
  }
}
