table {
  margin-top: 10px;

  tr.no-items > td {
    padding: 20px;
    text-align: center;
    font-style: italic;
  }

  td {
    &.h-center {
      text-align: center;
    }
    &.h-left {
      text-align: left;
    }
    &.h-right {
      text-align: right;
    }
    &.v-middle {
      vertical-align: middle;
    }
  }
}
