A new offer has been created!
View: <%= ElixirJobsWeb.Router.Helpers.admin_offer_url(ElixirJobsWeb.Endpoint, :edit, @offer.slug) %>
Title: <%= @offer.title %>
Company: <%= @offer.company %>
Description: <%= @offer.description %>
Location: <%= @offer.location %>
Company url: <%= @offer.url %>
Place: <%= @offer.job_place %>
Type: <%= @offer.job_type %>
