@mixin btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.33;
  background-color: #f0f0f0;
  border-color: #ddd;
  color: #333;

  &.focus,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
