<section class="hero main is-primary is-medium is-bold">
  <div id="particles" class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= gettext("Connect with the jobs that matter") %>
      </h1>
      <h2 class="subtitle">
        <%= gettext("With ElixirJobs you can find your next Elixir job directly on your feed.") %>
      </h2>
    </div>
  </div>
</section>
