<h2 class="page-title"><%= gettext("Edit a job offer") %></h2>

<%= render(ElixirJobsWeb.OfferView, "_form.html",
  changeset: @changeset,
  action: admin_offer_path(@conn, :update, @offer.slug),
  conn: @conn,
  css_class: "offer-new") %>
