// Screen sizes
$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 600px;
$screen-xs: 400px;

$color-brand: #63407d;
$color-success: #127429;
$color-danger: #c33;

// Buttons
$btn-primary-color: #fff;
$btn-primary-bg: #127429;
$btn-primary-hover-color: #fff;
$btn-primary-hover-bg: #356841;

$btn-info-color: #fff;
$btn-info-bg: #428bca;
$btn-info-hover-color: #fff;
$btn-info-hover-bg: #286090;

$btn-success-color: #fff;
$btn-success-bg: #127429;
$btn-success-hover-color: #fff;
$btn-success-hover-bg: #356841;

$btn-danger-color: #fff;
$btn-danger-bg: #c33;
$btn-danger-hover-color: #fff;
$btn-danger-hover-bg: #F01515;

// Alerts
$alert-color: #fff;
$alert-bg: lighten($color-brand, 20%);
$alert-border: $color-brand;
