.about {
  max-width: 800px;
  margin: 0 auto;

  .sponsors {
    margin-top: 50px;
    margin-bottom: 10px;

    .level-item {
      margin-bottom: 40px;
    }

    .learn-elixir {
      margin-bottom: 10px;
    }
  }
}
