.btn-sign-in {
  @include btn;

  color: #fff;
  background-color: #78669E;
  border-color: #6540B2;

  &:hover {
    color: #fff;
    background-color: #8163C0;
    border-color: #6540B2;
  }
}

.btn-primary {
  @include btn;

  color: $btn-primary-color;
  text-decoration: none;
  background-color: $btn-primary-bg;
  border-color: darken($btn-primary-bg, 10%);

  &:hover {
    color: $btn-primary-hover-color;
    background-color: $btn-primary-hover-bg;
    border-color: darken($btn-primary-hover-bg, 10%);
  }
}

.btn-info {
  @include btn;

  color: $btn-info-color;
  text-decoration: none;
  background-color: $btn-info-bg;
  border-color: darken($btn-info-bg, 10%);

  &:hover {
    color: $btn-info-hover-color;
    background-color: $btn-info-hover-bg;
    border-color: darken($btn-info-hover-bg, 10%);
  }
}

.btn-success {
  @include btn;

  color: $btn-success-color;
  text-decoration: none;
  background-color: $btn-success-bg;
  border-color: darken($btn-success-bg, 10%);

  &:hover {
    color: $btn-success-hover-color;
    background-color: $btn-success-hover-bg;
    border-color: darken($btn-success-hover-bg, 10%);
  }
}

.btn-danger {
  @include btn;

  color: $btn-danger-color;
  text-decoration: none;
  background-color: $btn-danger-bg;
  border-color: darken($btn-danger-bg, 10%);

  &:hover {
    color: $btn-danger-hover-color;
    background-color: $btn-danger-hover-bg;
    border-color: darken($btn-danger-hover-bg, 10%);
  }
}
