.footer {
  margin-top: 1rem;
  padding: 3rem 1.5rem 2.5rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.87);
  color: darken($white, 35%);

  font-size: 0.8rem;

  strong {
    color: darken($white, 35%);
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .columns {
    margin-bottom: 0;
  }

  a {
    color: $white;
  }

  p {
    text-transform: uppercase;
    margin: 0.3rem 0;
  }

  .copyright {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke
  }

  .section-title {
    margin-bottom: 0.9rem;
  }
}
