.login {
  max-width: 650px;
  margin: 20px auto;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  padding: 20px;

  input {
    padding: 10px;
  }

  button {
    display: block;
    width: 100%;
  }

  fieldset:last-child{
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
