.offer {
  background: #fff;
  border-bottom: 2px solid #D8DDE1;
  margin-top: 0.75rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;

  .functions {
    @include clearfix;

    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #D8DDE1;

    a {
      color: #aaa;
    }

    small,span {
      display: block;
      float: left;
    }

    span {
      float: right;
      text-align: right;
    }
  }

  .inner {
    overflow: hidden;
  }

  .title {
    font-size: 1.25rem;
    margin-top: 0rem !important;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;

    &,
    & a {
      color: #303030;
    }
  }

  /* Meta data line below post title */
  .meta {
    display: block;
    margin-top: -.2rem;
    margin-bottom: 0.8rem;
    color: #9a9a9a;

    strong {
      font-weight: normal;
      font-style: normal;
      background-color: #ffa;
    }

    span {
      display: block;
      margin: 10px 0;
    }

    a {
      color: #9a9a9a;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: #555;
      }
    }
  }

  .description {
    a {
      word-break: break-word;
      color: #5E49BA;
      text-decoration: underline;
    }
  }
}

.offer-new {
  border-top: none;
  margin-top: 0;
  padding-top: 0.5rem !important;

  .meta {
    select {
      font-size: 0.8rem;
    }

    span input,
    span select {
      width: 100%;
    }
  }

  .information {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid #D8DDE1;

    input.url {
      margin-top: 0.5rem;
    }
    input.location,
    input.url {
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.offer-preview {
  margin-bottom: -2rem;
  border-bottom: 1px solid #fb0;
  background-color: #ffe;
}

@include screen-md {
  .offer {
    padding: 1rem 0 1.5rem 0;
    border: none;
    border-bottom: 1px solid #eee;

    .meta {
      span {
        display: inline;

        &::after{
          margin: 0 10px;
          content: "–";
        }

        &:last-child::after{
          content: "";
        }
      }
    }

    .functions {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 1px solid #eee;
    }
  }

  .offer-new {
    .information {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 1px solid #eee;

      input.url {
        margin-top: 1rem;
      }
    }

    .meta {
      span input,
      span select {
        width: auto;
      }
    }
  }
}
