.page-title {
  text-rendering: optimizeLegibility;

  font-size: 1.5rem;

  padding-bottom: 0.8rem;
  margin: 1.5rem 0.5rem;
  border-bottom: 1px solid #d3d3d3;

  @include screen-md {
    margin: 1rem 0;
  }
}
