.search {

  border-bottom: 1px solid #e3e3e3;
  padding: 0.5rem 0;
  font-size: 0.8rem;

  h5 {
    margin: 0 3px 10px 3px;
    font-weight: bold;
    font-size: 0.8rem;
  }

  form {
   @include clearfix();
   padding: 0.5rem 0;
  }

  input {
    background-color: #fafafa;
    padding: 6px;
  }

  select {
    background-color: #fafafa;
    padding: 5px;
  }

  button {
    padding: 3px 10px;
    margin: 2px 3px;
    width: 70px;
    float: right;
  }

  .full-filters {
    .field {
      margin-bottom: 5px;

      &.text{
        width: 100%;
        float: left;
        padding: 2px 3px;

        input {
          padding: 6px;
        }
      }

      &.select {
        width: 50%;
        float: left;
        padding: 2px 3px;

        select {
          width: 100%;
        }
      }

      @include screen-sm() {
        &.text {
          width: calc(100% - 380px);
        }

        &.select {
          width: 150px;
        }
      }

      @include screen-md() {
        &.text {
          width: 100%;
        }

        &.select {
          width: calc(50% - 40px);
        }
      }

      @include screen-lg() {
        &.text {
          width: calc(100% - 380px);
        }

        &.select {
          width: 150px;
        }
      }
    }
  }
}
