<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render("shared/_head.html", conn: @conn) %>
  </head>

  <body>
    <%= render "shared/_navbar.html", conn: @conn %>

    <%= if @conn.assigns[:show_hero] do %>
      <%= render "shared/_hero.html", conn: @conn %>
    <% else %>
      <div class="navbar-spacing"></div>
    <% end %>

    <div class="box cta">
      <p class="has-text-centered">
        <%= raw gettext("Subscribe to our <b>Telegram</b> channel to get last job offers on your phone!") %>
        <%= link raw(gettext("Join now!&nbsp;<i class='fab fa-telegram-plane'></i>")), to: "https://t.me/#{Telegram.get_channel()}", class: "button is-small is-info is-rounded", target: "_blank" %>
      </p>
    </div>

    <section class="section app">
      <div class="container">
        <%= render "shared/_alerts.html", conn: @conn %>
        <%= @inner_content %>
      </div>
    </section>

    <%= render "shared/_footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render "shared/_analytics.html", conn: @conn %>
    <%= render "shared/_cookies.html", conn: @conn %>
    <%= raw MicrodataHelper.render_microdata(@conn) %>
  </body>
</html>
