<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= SeoHelper.page_title(@conn) %> - <%= gettext("ElixirJobs") %></title>
    <meta name="description" content="<%= SeoHelper.page_description(@conn) %>">
    <meta property="og:url" content="<%= current_url(@conn) %>" />
    <meta property="og:title" content="<%= SeoHelper.page_title(@conn) %> - <%= gettext("ElixirJobs") %>" />
    <meta property="og:description" content="<%= SeoHelper.page_description(@conn) %>" />
    <meta property="og:image" content="<%= static_url(@conn, "/images/logo.png") %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jobs_elixir" />
    <meta name="twitter:title" content="<%= SeoHelper.page_title(@conn) %> - <%= gettext("ElixirJobs") %>" />
    <meta name="twitter:description" content="<%= SeoHelper.page_description(@conn) %>" />
    <meta name="twitter:image" content="<%= static_url(@conn, "/images/logo.png") %>" />
    <meta name="apple-mobile-web-app-title" content="<%= gettext("ElixirJobs") %>">
    <meta name="application-name" content="<%= gettext("ElixirJobs") %>">
    <meta name="theme-color" content="#8652ad">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/icons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= static_path(@conn, "/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= static_path(@conn, "/icons/favicon-16x16.png") %>">
    <link rel="manifest" href="/manifest.json">
    <link rel="alternate" type="application/rss+xml" title="ElixirJobs - RSS" href="<%= offer_path(@conn, :rss) %>" />
    <link rel="mask-icon" href="<%= static_path(@conn, "/icons/safari-pinned-tab.svg") %>" color="#8652ad">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render_shared "_sidebar.html", conn: @conn %>

    <div class="content">
      <div class="container">
        <%= render_shared "_alerts.html", conn: @conn %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <%= render_shared "_footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
