.offers-index {
  .offer {
    margin-bottom: 1rem;
    padding: 1.4rem 1.25rem;



    &:hover {
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.3);;
    }
  }

  .no-offer {
    margin: 3rem 0;
    border: 2px solid $light;
    border-radius: 10px;
    padding: 3rem;
    position: relative;

    .content {
      text-align: center;

      .button {
        margin-top: 1rem;
      }
    }
  }
}
