<article class="media no-offer">
  <div class="media-content">
    <div class="content">
      <p>
        <i><%= gettext("Upss! There is nothing here") %></i>
      </p>
      <a class="button is-primary is-medium" href="<%= offer_path(@conn, :new) %>"><%= gettext "Post a job offer!" %></a>
    </div>
  </div>
</article>
