<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <url>
    <loc><%= offer_url(@conn, :index) %></loc>
    <changefreq>daily</changefreq>
    <priority>1.00</priority>
  </url>
  <%= for filter <- ["onsite", "remote", "full_time", "part_time", "freelance"] do %>
  <url>
    <loc><%= offer_url(@conn, :index_filtered, filter) %></loc>
    <changefreq>daily</changefreq>
    <priority>0.95</priority>
  </url>
  <% end %>
  <url>
    <loc><%= offer_url(@conn, :new) %></loc>
    <priority>0.80</priority>
  </url>
  <url>
    <loc><%= page_url(@conn, :about) %></loc>
    <priority>0.80</priority>
  </url>
  <%= for page <- (1..@total_pages) do %>
  <url>
    <loc><%= offer_url(@conn, :index, page: page) %></loc>
    <changefreq>daily</changefreq>
    <priority>0.70</priority>
  </url>
  <% end %>

  <%= for offer <- @offers do %>
  <url>
    <loc><%= offer_url(@conn, :show, offer.slug) %></loc>
    <changefreq>daily</changefreq>
    <priority>0.90</priority>
  </url>
  <% end %>
</urlset>
