<div class="no-offer">
  <i><%= gettext("Upss! There is nothing here") %></i>
  <br /><br/>
  <a class="btn-primary" href="<%= offer_path(@conn, :new) %>"><%= gettext "Publish a job offer" %></a>
</div>
