<div class="no-offer">
  <i><%= gettext("Upss! There is nothing here") %></i>
  <br /><br/>
  <a class="btn-success" href="<%= offer_path(@conn, :new) %>"><%= gettext "Post a job offer!" %></a>
</div>
