<hr class="divider"/>
<%= render("_offer.html", conn: @conn, offer: @offer, title_link: false, details: true) %>

<nav class="level offer-actions">
  <p class="level-item has-text-centered">
    <%= link(gettext("Go to the offer!"), to: @offer.url, class: "button is-info is-medium", target: "_blank") %>
  </p>
</nav>
<hr class="divider"/>
