<%= render("_offer.html", conn: @conn, offer: @offer, title_link: false) %>
<div class="offer-link">
  <%= link(gettext("Go to the offer!"), to: @offer.url, class: "btn btn-info", target: "_blank") %>
</div>
